# dependencies
node_modules/
.next/
out/

# env
.env
.env.local
.env.production

# misc
.DS_Store
*.pem
__pycache__/
*.pyc

# build
web/.next/
web/out/
web/node_modules/
-e 
data/b3-historico/
*.ZIP
*.TXT
